* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #2f4f30;
  color: #fff;
}

.titulo {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1.25rem;
  font-size: 1.5625rem;
}

.carta {
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
  height: 220px;
}
